html,
body {
	height: 100%;
	width: 100%;
	background-color: #f3f5f7;
}

.header {
	text-align: center;
	padding: 0 0.33rem;
	height: 0.88rem;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}

.header a {
	display: inline-block;
}

.header .logo {
	width: 1.65rem;
	height: .6rem;
	margin-top: .1rem;
	/*display: inline-block;*/
}

.header .message img {
	width: .42rem;
	height: .39rem;
	margin-top: .15rem;
	/*display: inline-block;*/
}

.header .search img {
	width: .49rem;
	height: .53rem;
	margin-top: .17rem;
	display: inline-block;
}
/*轮播图*/
.mint-swipe {
		width: 100%;
		height: 2.7rem;
		margin-top: .88rem;
	}
	
	.mint-swipe-items-wrap {
		width: 100%;
	}
	
	.mint-swipe-item {
		width: 100%;
	}
	
	.mint-swipe-item img {
		width: 100%;
	}
.vip{
	margin-top: .2rem;
	padding:.13rem ;
	width: 100%;
	background-color: #fff;
}
.vip img{
	width: 100%;
}
.best{
	margin-top: .2rem;
	width: 100%;
	line-height:.42rem ;
	background-color: #fff;
}
.best .best_img{
	width: 100%;
	vertical-align: middle;
}
.best .best_dr{
	width: 100%;
	vertical-align: middle;
}
.best .best_jart{
	margin-left: .24rem;
}
.best .new_price{
	font-size: .36rem;
	color: red;
}
.best .pre_price{
	color: #999999;
	font-size: .28rem;
}
.best .Jart{
	font-size: .3rem;
	color: #333;
	font-weight: bold;
}
.leader .leader_img{
	width: 100%;
}
.footer{
	position: fixed;
	height: .88rem;
	background-color: #fff;
	bottom: 0;
	width: 100%;
	margin-top: .15rem;
}
.footer ul{
	width: 100%;
	height: 1rem;
}
.footer li{
	width: 50%;
	float: left;
	text-align: center;
}
.footer li a{
	display: block;
	
}
.footer li img{
	line-height: 1rem;
	vertical-align: middle;
	width: .45rem;
	height: .81rem;
}
.last{
	height: .64rem;
	margin-bottom: .88rem;
	text-align: center;
	line-height: .64rem;
	color: #999999;
}
