body{
	background: #fff;
}
input[type=text]{
	-webkit-appearance: none;
}
/*login*/
.login{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 112;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
}
.login-content,.register-content,.select-province-con,.select-city-con{
	position: absolute;
	top: .88rem;
	left: 0;
	width: 100%;
	border-top: 1px solid #E6E6E6;
	text-align: center;
}
.login-part li{
	border-bottom: 1px solid #E6E6E6;
	width: 100%;
	height: .88rem;
	line-height: .88rem;
	font-size: .3rem;
}
.login-part li img{
	width: .36rem;
	height: .4rem;
	margin: .24rem .48rem 0 .48rem;
}
.login-part li input{
	width: 74%;
	height: .86rem;
	font-size: .26rem;
	vertical-align: top;
}
.button-big{
	background: #59d1a4;
	font-size: .36rem;
	color: #fff;
	margin-bottom: .48rem;
}
.button-big a{
	display: block;
	color:#fff;
}
.register-text{
	font-size: .28rem;
	color: #666;
}
.register-text span{
	color: #59d1a4;
}
.prompt1{
	margin-left: .72rem;
	height: .48rem;
	line-height: .7rem;
	font-size: .24rem;
	color: #f00;
}
.prompt2{
	margin-left: .72rem;
	height: .56rem;
	line-height: .4rem;
	font-size: .24rem;
	color: #f00;
}

.wxsq{
	font-size: .3rem;
	width: 50%;
	margin: 20% 25%;
}

#oauth{
	position: absolute;
	left: 0;
	opacity: 0;
}

#oauth2{
	position: absolute;
	left: 0;
	opacity: 0;
}

.prompt3{
	position: absolute;
	margin-top: 4.6rem;
	z-index: -1;
	padding: .24rem .32rem;
	background: rgba(0,0,0,.5);
	color: #fff;
	opacity: 0;
	border-radius: 5px;
	font-size: .32rem;
	text-align: center;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transform: translate3d(-50%,0,0);
	-webkit-transform: translate3d(-50%,0,0);
	-o-transform: translate3d(-50%,0,0);
	-moz-transform: translate3d(-50%,0,0);
	-ms-transform: translate3d(-50%,0,0);
	left: 50%;
}
.logo2{
	width: 3.01rem;
	height: 1.05rem;
	margin-top: .97rem;
}

