
#container{
	background-color: #f3f5f7 !important;
	width: 100%;
	height: 100%;
}
.header {
	text-align: center;
	height: 1rem;
	line-height: 1rem;
	font-size: .36rem;
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
}

.header .header_img {
	float: left;
	width: .3rem;
	height: .45rem;
	margin-top: .25rem;
	margin-left: .35rem;
	display: block;
}

.header a {
	float: left;
}
.content{
	/*background-color: #f3f5f7;*/
	border-top: 1px solid #d7d7d7;
}
.content ul li{
	margin: 0 auto;
}
 .content ul li .time{
 	margin: .4rem auto;
 	width: 2.35rem;
 	height: .4rem;
 	background-color: #dcdcdc;
 	border-radius: 5%;
 	text-align: center;
 	color: #fff;
 }
 .content ul li .arrive{
 	background-color: #fff;
 	padding: .4rem .25rem;
 	width: 6.8rem;
 	border: 1px solid  #dcdcdc;
 	margin: 0 auto;
 }
 .content ul li .arrive .money{
 	font-size: .36rem;
 }
 .content ul li .arrive .date{
 	color: #999999;
 	font-size: .26rem;
 }
 .content ul li .arrive .amount{
 	text-align: center;
 	color: #999999;
 	font-size: .32rem;
 	margin-top: .5rem;
 }
 .content ul li .arrive .sum{
 	font-size: .64rem;
 	text-align: center;
 	border-bottom: 1px solid  #dcdcdc;
 	padding-bottom: .35rem;
 }
 .content ul li .arrive div{
 	font-size: .32rem;
 	color:#999999;
 	line-height: .5rem;
 }
 .content ul li .arrive div span{
 	color: #333333;
 	font-size: .32rem;
 }
 .content ul li .arrive .bank{
 	margin-top: .2rem;
 }
 .content ul li .ready{
 	background-color: #fff;
 	padding: .4rem .25rem;
 	width: 6.8rem;
 	border: 1px solid  #dcdcdc;
 	margin: 0 auto;
 }
 .content ul li .ready .money{
 	font-size: .36rem;
 }
 .content ul li .ready .date{
 	color: #999999;
 	font-size: .26rem;
 }
 .content ul li .ready .amount{
 	text-align: center;
 	color: #999999;
 	font-size: .32rem;
 	margin-top: .5rem;
 }
 .content ul li .ready .sum{
 	font-size: .64rem;
 	text-align: center;
 	border-bottom: 1px solid  #dcdcdc;
 	padding-bottom: .35rem;
 }
 .content ul li .ready div{
 	font-size: .32rem;
 	color:#999999;
 	line-height: .5rem;
 }
 .content ul li .ready div span{
 	color: #333333;
 	font-size: .32rem;
 }
 .content ul li .ready .bank{
 	margin-top: .2rem;
 }
 
.content ul li .xiaochaung{
 	background-color: #fff;
 	padding: .4rem .25rem;
 	width: 6.8rem;
 	border: 1px solid  #dcdcdc;
 	margin: 0 auto;
 	font-size: .3rem;
 	margin-bottom: .5rem;
 }
 .content ul li .xiaochaung .money{
 	font-size: .36rem;
 }
 .content ul li .xiaochaung div{
color: #666;
 }
